<div class="bg-white p-3 text-white rounded-xl shadow-2xl mt-5 mb-8 md:m-0">
  <p class="text-md font-medium mb-0 text-black lg:text-xl ">Your card</p>
  <div class="lg:flex justify-center">
    <div
      class="h-[180px] shadow-xl bg-primary_text rounded-lg p-2 px-4 credit-card lg:w-[70%] w-[95%] lg:h-[200px] mt-8 "
    >
      <div class="flex justify-between text-sm pb-0">
        <p>Fincard</p>
        <p>Plantinum Debit</p>
      </div>
      <img class="w-[80px] ml-[-20px]" src="media/chip.png" />
      <div class="flex gap-3">
        <p>1234</p>
        <p>5678</p>
        <p>9012</p>
        <p>4567</p>
      </div>
      <p class="text-xs text-[#d1d3d8]">Valid Thru 08/25</p>
    </div>
  </div>
</div>
