<nav class="grid grid-cols-2 justify-between px-5 py-8">
  <div class="flex-1">
    <p class="font-bold text-3xl mb-2 text-primary_text">Welcome to Xpense</p>
    <p class="text-md text-secondary_text">Hi, Rajat. Welcome Back.</p>
  </div>
  <div class="flex items-center flex-1 justify-self-end self-baseline">
    <div class="p-3 rounded-xl shadow-lg hidden lg:flex mx-2">
      <mat-icon class="text-primary_text">brightness_2</mat-icon>
    </div>
    <div class="p-3 rounded-xl shadow-lg flex mx-2">
      <mat-icon class="text-primary_text">notifications</mat-icon>
    </div>

    <!-- <div class="w-14 mx-2 hidden">
      <img
        class="rounded-full shadow-lg border-2 border-white"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUWPPJeKqMFiZdty1MgpNIUzPE0NYsz0Y0NA&s"
      />
    </div> -->

    <div
      (click)="toggle()"
      class="p-3 flex rounded-xl shadow-lg lg:hidden md:mx-2"
    >
      <mat-icon class="text-primary_text">menu</mat-icon>
    </div>
  </div>
</nav>
